<!DOCTYPE html>
<html>
    <head>
        <title>Ecommerce Application</title>
        <meta charset="UTF-8">
        <meta name="description" content="An Ecommerce Website">
        <meta name="keywords" content="Products">
        <meta name="author" content="Anurag Harsh">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">            
            <ul class="navbar-nav">
              <li class="nav-item">
                    <a class="nav-link active" href="/login">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Checkout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <form class="form-inline" style="margin-right:0px;">
                <div class="input-group" style="margin-left:600px;">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter Product">
                  <button type="button" class="btn btn-success">Search</button>
                </div>    
              </form>
          </nav>
            <div class="row" style="margin-left:30px;margin-top:10px;">
                <div class="col-sm">
                    <img src="/images//cake.jpeg" alt="Cake" width = "80%">
                    <div style="margin-left:120px; margin-top:40px;color:black;font-size: 18px;">
                        Rs 500 / kg
                        <button type="button" class="btn btn-success">Buy</button>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="/images/pastry.jpg" alt="Pastry" width = "90%" height="75%">
                    <div style="margin-left:120px; margin-top:40px;color:black;font-size: 18px;">
                        Rs 50
                        <button type="button" class="btn btn-success">Buy</button>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="/images/bagel.jpeg" alt="Bagel" width = "85%">
                    <div style="margin-left:120px; margin-top:40px;color:black;font-size: 18px;">
                        Rs 100
                        <button type="button" class="btn btn-success">Buy</button>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-left:30px;margin-top:10px;">
              <div class="col-sm">
                  <img src="/images/pizza.jpg" alt="Pizza" width = "80%">
                  <div style="margin-left:120px; margin-top:40px;margin-bottom:40px;color:black;font-size: 18px;">
                      Rs 280
                      <button type="button" class="btn btn-success">Buy</button>
                  </div>
              </div>
              <div class="col-sm">
                  <img src="/images/muffins.jpeg" alt="Muffins" width = "90%" height="60%">
                  <div style="margin-left:120px; margin-top:40px;color:black;font-size: 18px;">
                      Rs 35
                      <button type="button" class="btn btn-success">Buy</button>
                  </div>
              </div>
              <div class="col-sm">
                  <img src="/images/sweet-rolls.jpeg" alt="sweet-rolls" width = "85%" height="60%">
                  <div style="margin-left:120px; margin-top:40px;color:black;font-size: 18px;">
                      Rs 80
                      <button type="button" class="btn btn-success">Buy</button>
                  </div>
              </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>